<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">


		<!-- local style sheet -->
		<link rel="stylesheet" href="/assets/css/style.css">

		<title>ResMe</title>
	</head>
	<body>
		<nav>logged in navbar</nav>
		{{{ body }}}
	<footer>Footer:     Copyright © wuTangGirls</footer>

	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
	</body>
</HTML>
