<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>ResMe</title>
	</head>
	<body>
	<nav>This is going to be the friggin' Navbar</nav>
		{{{ body }}}
	<footer>This is going to be the friggin Footer     Copyright © wuTangGirls</footer>
	</body>
</HTML>
