  <div class="ui container">
  <div class="UserEducationDiv">
  <h4>Education</h4>
    <form class="UserEducation" action="resume/education" method="POST">
      School Name:
      <input type="text" name="schoolName" id="schoolName"><br>
      Location:
      <input type="text" name="schoolLocation" id="schoolLocation"><br>
      Major:
      <input type="text" name="major" id="major"><br>
      Degree:
      <input type="text" name="degree" id="degree"><br>
      Years Attended: 
      <input type="text" name="years" id="years"><br>
      GPA:
      <input type="text" name="gpa" id="gpa"><br>
      Honors:
      <input type="text" name="honors" id="honors"><br>
      <!--  <button type="submit">Next</button> -->
      <!-- next button below -->
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Next</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </form>
  </div>
</div>