<div class="ui container">
  <div class="UserInfoDiv">
    <h4>User Info</h4>
    <form class="UserInfo" action="resume/user" method="POST">
      First name:
      <input type="text" name="firstName" id="firstName"><br>
      Last name:
      <input type="text" name="lastName" id="lastName"><br>
      Address:
      <input type="text" name="address" id="address"><br>
      Email: 
      <input type="text" name="email" id="email"><br>
      Phone Number:
      <input type="text" name="phoneNumber" id="phoneNumber"><br>
      Linked In:
      <input type="text" name="linkedInUrl" id="linkedInUrl"><br>
      Stack Overflow:
      <input type="text" name="stackOverflowUrl" id="stackOverflowUrl"><br>
      GitHub Profile:
      <input type="text" name="gitHubUrl" id="gitHubUrl"><br>
      <!-- <button type="submit">Next</button>    -->
      <!-- next button below -->
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Next</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>

    </form>
  </div>
</div>