<nav>
	<div><h2>Logo</h2></div>
	nav bar
	<div class="login">
		<form class="loginForm">
			Username:
			<input type="text" name="loginUsername" id="loginUsername"><br>
			Password:
			<input type="text" name="loginPassword" id="loginPassword"><br>
			<input type="submit" value="login">
		</form>
	</div>
<nav>

<div class="Registrar">
	<form>
		Username:
		<input type="text" name="registrarUsername" id="registrarUsername"><br>
		Password:
		<input type="text" name="registrarPassword" id="registrarPassword"><br>
		<input type="submit" value="Registrar!">
	</form>
</div>