<!-- THIS IS THE LANDING PAGE/LOGIN/SIGNIN -->

{{#if e}}
    Error logging in: {{ e }}
{{/if}}
<a name="about"></a>
<div class="intro-header-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>ResMe</h1>
                    <h3>Let us help help build your resume</h3>
                    <hr class="intro-divider">
                    <br>
                    <form action="/signin" method="POST">
                    	<div class="list-inline">
			                      Email: <input type="email" name='email' class='form-control' placeholder="email@someplace.com">
			                      Password: <input type="password" name='password' class='form-control' placeholder="Password">
                      </div>
                      <div class="list-inline row" align="center">
                        <button type="submit" class="btn btn-default loginBtn">Login</button>
                        <br>
                        <a href="/signup"><span class="network-name">Sign up for an account</span></a>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How we can help:</h2>
                <p class="lead">We help you create your personalized resume quickly, and efficiently. </p>
                <p class="lead">After logging in or creating an account with us, our application will help you create a resume within minutes. You can choose one of our succesfully created templates to broadcast your skills. With your information, we can build your resume. Lastly, after completion, your personalized resume can be updated, or downloaded as a PDF document.</p>
                
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/assets/images/ipad.png">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->




