<!-- add a loading icon? -->
<!-- this is where the user gets to see the different templetes filled out with their information that they provided -->
<div class="user-container">
	<div class="previewTempletes">
	<div><h1>Here are your resumes, please choose one to download</h1></div>
	<div class="row">
		<div class="tempeletOne col-lg-4">
		<h2>Straight Austere</h2>
			<img src="assets/images/imgResHolder.png" width="250 px">
			<p>One One One One One One One One One One One One One One one One One One</p>
			<button class="downloadTemplate1 btn btn-default" type="submit">Download Name One</button>
		</div>
		<div class="tempeletTwo col-lg-4">
			<h2>Cathulu Bold</h2>
			<img src="assets/images/imgResHolder.png" width="250 px">
			<p>Two Two TwoTwo Two Two Two Two Two Two Two Two Two Two Two </p>
			<button class="downloadTemplate2 btn btn-default" type="submit">Download Name Two</button>
		</div>
		<div class="tempeletThree col-lg-4">
			<h2>Impact Roman</h2>
			<img src="assets/images/imgResHolder.png" width="250 px">
			<p>Three Three Three Three Three Three Three Three Three Three Three Three </p>
			<button class="downloadTemplate3 btn btn-default" type="submit">Download Name Three</button>
		</div>
	</div> 
	</div>
</div>
