<div class="user-container">
  <div class="enterInfoDivs enterProject">
    <h4>Experience: Enter information about your projects or events</h4>
    <form class="userProject" action="/work" method="POST">
      ProjectName: 
      <input type="text" name="projectName" id="projectName" class='form-control'><br>
      Description: 
      <input type="text" name="projectDescription" id="projectDescription" class='form-control'><br>
      Url/Demo:
      <input type="text" name="projectUrl" id="projectUrl" class='form-control'><br>
      Date:
      <input type="text" name="projectDate" id="projectDate" class='form-control'><br>
      <button type="submit" class="btn btn-default">Next</button>
    </form> 
    <br>
    <form action="/projects">
    <button type="submit" class="btn btn-default">Add Another</button>
    </form>
  </div>
</div>