<div class="ui container">
  <div class="userProjectDiv">
    <h4>Projects/Hackathons</h4>
    <form class="userProject" action="/work" method="POST">
      ProjectName: 
      <input type="text" name="projectName" id="projectName"><br>
      Description:
      <input type="text" name="projectDescription" id="projectDescription"><br>
      Url/Demo:
      <input type="text" name="projectUrl" id="projectUrl"><br>
      Date:
      <input type="text" name="projectDate" id="projectDate"><br>
      <button type="submit">Submit</button>
      <!-- next button below -->
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Next</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </form>
  </div>
</div>