<div class="ui container">
  <div class="userWorkDiv">
    <h4>Work History</h4>
    <form class="userWork" action="/buildResume" method="POST">
      Company Name: 
      <input type="text" name="companyName" id="companyName"><br>
      Location:
      <input type="text" name="companyLocation" id="companyLocation"><br>
      Title:
      <input type="text" name="title" id="title"><br>
      Years Worked:
      <input type="text" name="companyYears" id="companyYears"><br>
      Responsibility Summary:
      <input type="text" name="responsibility" id="responsibility"><br>
      Duties:
      <input type="text" name="duties" id="duties"><br>
     <button type="submit">Next</button>
     <!-- next button below -->
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Next</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </form>
  </div>
</div>